/* Global styles for the whole app */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  color: #333;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
